<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/resetcss.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Gallery</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <main id="main-gallery">
      <div class="gallery">
        <img src="img\artur-nakhodkin-warhammer-40k-7.jpg" alt="Dark Angels fighting orks" />
        <p>Dark Angels fighting orks</p>
      </div>
      <div class="gallery">
        <img src="img\gallery-artic-world.jpg" alt="Dark Angels fightingon an artic planet" />
        <p>Dark Angels fighting on an artic planet</p>
      </div>
      <div class="gallery">
        <img src="img\gallery-chapter-fighting.jpg" alt="Dark Angels fighting world eaters" />
        <p>Dark Angels fighting world eaters</p>
      </div>
      <div class="gallery">
        <img src="img\gallery-heresy.webp" alt="Dark Angels cleansing heresy" />
        <p>Dark Angels cleansing heresy</p>
      </div>
    </main>
  </body>
</html>


[{img: 'images\artur-nakhodkin-warhammer-40k-7.jpg',description: 'Dark Angels fighting orks'},
{img: 'images\gallery-artic-world.jpg',description: 'Dark Angels fighting on an artic planet'},
{img: 'images\gallery-chapter-fighting.jpg',description: 'Dark Angels fighting world eaters'},
{img: 'images\gallery-heresy.webp',description: 'Dark Angels cleansing heresy'}]