<h1>Supreme Grand Master Azrael</h1>
<div class="columns">
  <div id="text">
    <blockquote>
      "Forget your past life. From this day on you are simply a Dark Angel -
      nothing else is of consequence. The Chapter is all that matters."
    </blockquote>
    <p id="cite">
      Supreme Grand Master Azrael addressing neophytes new to the Dark Angels
      Chapter's Scout Company
    </p>
    <p>
      Azrael is the current, and some would say the greatest, supreme grand
      master (Chapter Master) of the Dark Angels Space Marine Chapter in the
      late 41st Millennium. In this role, he is not only their military
      commander but the protector of their honour and the shield of their souls.
      Azrael also carries the honorific Chapter title of "Keeper of the Truth."
    </p>
    <p>
      Following in the mighty footsteps of the gene-father of the Dark Angels,
      the Primarch Lion El'Jonson, Azrael understands full well the tremendous
      heritage and duty of his station as the commander of what remains of the
      Emperor's Ist Legion.
    </p>
    <p>
      He alone is privy to the darkest secrets of the Chapter, and it is his
      honour to lead the quest for the Dark Angels' redemption.
    </p>
    <p>
      Grim of demeanour, possessed of deep conviction and unwavering purpose,
      Azrael is the epitome to which the Dark Angels aspire.
    </p>
    <p>
      Yet never does Azrael lose sight of the Dark Angels' secret agenda -- even
      in the midst of a life-or-death battle, the Chapter's hunt for the Fallen
      Angels always continues. This hidden agenda is always at the forefront of
      Azrael's keen mind, even as he plans the next battle, reviews the next
      sector to be brought under surveillance.
    </p>
  </div>
  <img src="images/Azrael.webp" alt="Azrael image" />
</div>