<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/resetcss.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Works</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <main>
      <h1>Supreme Grand Master</h1>
      <img
        id="Azrael-combat"
        src="img\Supreme_Grand_Master_Azrael_combat.webp"
        alt="Azrael in combat"
      />
      <p>
        The supreme grand master of the Dark Angels secretly chooses his
        successor from the Inner Circle of the Chapter. When the old incumbent
        dies, his choice is ceremonially presented with the panoply associated
        with the rank of supreme grand master.
      </p>
      <p>
        He is presented with the Chapter's two most venerated relics as symbols
        of his office -- the Lion Helm (a potent artefact that was previously
        worn by the Dark Angels' Primarch Lion El'Jonson) and the Sword of
        Secrets, the foremost of the fabled Heavenfall Blades, which were
        created from a meteorite that struck The Rock, the Dark Angels' mobile
        fortress-monastery, after the Horus Heresy.
      </p>
      <p>
        This venerable weapon was so finely crafted that its razor-sharp edge
        has not chipped or lost its keenness since it was forged long millennia
        ago. Azrael also took up the Lion's Wrath, a Combi-plasma said to have
        been constructed by the Techno-magus Prestor the Unchallenged in the
        days following the fall of Caliban. Finally, he donned The Protector, a
        finely crafted suit of Artificer Armour inlaid with the symbols of his
        new rank.
      </p>
      <p>
        Most sacred of all, the Chapter Banners are given into the new supreme
        grand master's care, to be borne in battle by a Battle-Brother
        personally selected by him. All of these artefacts are potent icons for
        the Dark Angels, each having been passed down through the ages from one
        incumbent to the next, a weighty reminder to the supreme grand master
        and to all under his command of the heritage and duty of the Dark Angels
        Chapter.
      </p>
      <p>
        Not only leading the Chapter in battle, commanding one of the mightiest
        fighting forces in the Imperium, Commander Azrael must also orchestrate
        the hunts for the Fallen Angels and guard the Chapter's most precious
        secrets. It is said that as the holder of this august rank, Azrael is
        party to the most terrible of truths, known only to him and to those who
        have preceded him as supreme grand master.
      </p>
    </main>
  </body>
</html>
