body {
    background-image: url("../img/artur-nakhodkin-warhammer-40k-7.jpg");
    color: white;
    font-size: 1.2em;
    height: 100%;
}

nav {
    background-color: black;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    margin: 2vh 2vw;
}

a {
    text-decoration: none;
    font-size: 1.4em;
}

a:visited {
    color: lightskyblue;
}

main {
    margin: 0 10vw;
    background-color: black;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    padding: 3vh 0 6vh 0;
}

.columns {
    display: flex;
    flex-direction: row;
}

img {
    height: 70vh;
    width: auto;
    margin: 2vh;
}

#Azrael-combat {
    height: 40vh;
    width: auto;
    float: right;
}

blockquote {
    font-style: italic;
    margin: 2vh 2vw 0 2vw;
}

#cite {
    font-size: 0.8em;
    margin: 0 0 2vh 2vw;
}

p {
    padding: 2vh 1vw;
}

#main-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#main-gallery .gallery {
    height: fit-content;
    width: 40%;
    padding-bottom: 4vh;
}

#main-gallery img {
    max-width: 80%;
    max-height: 80%;
    object-fit: scale-down;
}

#main-gallery p {
    font-size: 1em;
    font-style: italic;
    margin: 0 3vw;
}